/* 
    Created on : Mar 24, 2017, 3:19:55 PM
    Author     : Frank Pol
*/

#media {
	z-index: 10;
}
video {
	background-color: black;
}

video, #slide {
	width: 100%;
}

#slide, video, input, input, img {
	float: left;
	position: relative;
}
#pp {
	width: 5vh;
}

#URLPopup {
	text-align: center;
	padding: 5%;
	padding-bottom: 10%;
}

input {
	width: 100%;
}

#timer {
	padding: 1vh;
	font-size: 120%;
	text-align: start;
}

#slide .row, #slide .col {
	height: 5vh;
}

#menu {
	padding: 0 5%;
}

#name, #gender, #start, #stop {
	width: 100%;
	margin: 5% 0%;
}

form input[type="checkbox"] {
	width: 12%;
}

form p{	
	margin: 0;
	margin-left: 10%;
	width: 68%;
	float: left;
}

form .col {
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
}

#menu button {
	width: 100%;
}

#clear, #save {
	width: 30%;
	margin-right: 10%;
}

#submit {
	width: 60%;
	margin-top: 10%;
	margin-right: 20%;
}
#lastSub {
	width: 75%;
	margin: 15% 12.5% 15% 12.5%;
}

.label {
	width: 60%;
	color: black;
}

#finish {
	float: left;
	margin-top: 4%;
	width: 100%;
}

/*sheet css*/
ul {
	list-style: none;
	float: left;
	width: 100%;
	padding: 1% 5%;
}

ul p, ul input {
	float: none;
	display: inline-block;
	width: 15%;
	margin-right: 3%;
}
.delete{
	margin-right: -32px;
}
/*modern style*/
input:not(#sld), input[type="text"], input[type="submit"],
select, button, .label{
	margin-top: 5px;
	padding: 10px;
	border: solid 5px #c9c9c9;
	transition: border 0.3s;
}
 .checkWrapper{
	border: solid 5px #c9c9c9;
	padding: 7px;
	transition: border 0.3s;
	min-height: 30px;
	height: 5%;
	max-height: 50px;
 }

input[type="text"]:focus, input[type="submit"]:focus, select:focus, button:focus{
	border: solid 5px #969696;
	outline: none;
}

button:disabled{
	opacity: .65;
}
form .row{
	padding-left: 15px;
	padding-right: 15px;
}
.row{
	text-align: center;
}

#bg-desc{
	padding-left: 6vw;
	padding-right: 6vw;
}